body {
	margin: 0;
	padding: 0;
	background: #fff;
}

a {
	color: #000;
	text-decoration: none;
	outline: none;
	border: none;
	&:focus {
		outline: none;
		border: none;
	}
}

div {
	box-sizing: border-box;
}
